@import '~antd/dist/antd.css';


.image {
  width: 300px;
  height: 300px;
  align-self: center;
}

.playlistCard {
  text-align: center;
}

.playerButtons{
  border-color: white;
  margin-top: 10px;
}

.currentTrack{
  border-width: thick;
}

#title{
  color: gray;
}

#cardColumn{
  padding-block-start: 10px;
  padding-block-end: 10px;
}

.ant-layout-header{
  background: white;
}

.ant-menu-horizontal {
  border-bottom: 0px;
}

#welcomePage{
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#deleteButton{
    margin-left: 10px;
    position: absolute;
    margin-block-start: 7px;
}

#playListIndex{
  background-color: white;
}

.playerThumbnail{
  margin-top: 7px;
  height: 50px;
  width: 50px;
}

#hiddenGem{
  background-color: white;
}

#spotifyPlayer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: white;
  max-height: 150px;
}

#deviceButton {
  margin-top: 15px;
}
