@import '~antd/dist/antd.css';


.image {
  width: 150px;
  height: 150px;
  align-self: center;
}

.playlistCard {
  text-align: center;
}

.playerButtons{
  border-color: white;
}

.currentTrack{
  border-width: thick;
}

.footer{
 bottom: 0;
}

#title{
  color: gray;
}

#cardColumn{
  padding-block-start: 10px;
  padding-block-end: 10px;
}

.ant-layout-header{
  background: white;
}

.ant-menu-horizontal {
  border-bottom: 0px;
}

#deleteButton{
    margin-left: 10px;
    position: absolute;
    margin-block-start: 7px;
}

#playListIndex{
  background-color: white;
}

#spotifyPlayer{
  position: sticky;
  bottom: 0;
  background-color: white;
}

.playerThumbnail{
  height: 50px;
  width: 50px;
}

#playerBottomRow{
  margin-block-end: 20px;
}
#hiddenGem{
  background-color: white;
}

.ant-list-empty-text{
  margin-left: -400px;
}
